// .main{
//     background-color: lightblue;

//     .main-heading{
//         font-size: 2em;
//     }

//     .main-paragraph{
//         font-size: 1.4em;
//     }
// }

//* editing selector
// .main, footer{
//     h1, p {
//         letter-spacing: 1px;
//     }
// }

//* &
//* Parent selector or we can call it special character 
// desc: parent selector we can use it to add sudo class (hover, active, visited, before, etc)
// .main{
//     .container & {
//         background-color: lightblue;
//     }
//     .main-heading{
//         font-size: 2em;
//     }

//     &:hover{
//         background-color: salmon;
//     }
// }

.main{
    & &-heading{
        font-size: 2em;
    }
    & &-paragraph{
        font-size: 1.4em;
    }
}

.footer{
    #{&}-heading{
        font-size: 2em;
    }
    #{&}-paragraph{
        font-size: 1.4em;
    }
}
